.disabled {
  pointer-events: all !important;
}

body{
	text-shadow:none;
}
.icon-lg{
	height:42px;
	width:42px;
}
.icon-sm{
	height:16px;
	width:16px;
	margin: 2px 0 -2px 0;
}
h1{
    margin-bottom: 0px;
}
#message_display{
    display: inline-block;
    position: absolute;
    background-color: black;
    width: 300px;
    vertical-align: top;
    height: 679px;
    margin: 51px 0px 0px 0px;
    padding: 0px;
    color: white;
}
#message_display div{
    margin: 6px;
    padding: 6px;
    font-weight: bold;
}
