.disabled {
  pointer-events: all !important;
}

body{
	text-shadow:none;
}
.icon-lg{
	height:42px;
	width:42px;
}
.icon-sm{
	height:16px;
	width:16px;
	margin: 2px 0 -2px 0;
}
h1{
    margin-bottom: 0px;
}

.tile_info {
    border-radius: 2px;
    display: inline-block;
    border: 1px solid black;
    padding: 4px;
}

.tile_unit_info {
    border-radius: 2px;
    display: inline-block;
    border: 1px solid black;
    padding: 4px;
}

#container {
    margin-top: 50px;
    display: block;
    position: relative;
    width: 1583px;
}
#message_display{
    display: inline-block;
    position: absolute;
    background-color: black;
    width: 300px;
    right: 100px;
    vertical-align: top;
    max-height: inherit;
    border-radius: 10px;
    margin: 51px 0px 0px 0px;
    padding: 0px;
    color: white;
    opacity: 0.5;
    overflow-y: hidden;
}
#message_display div{
    margin: 6px;
    padding: 6px;
    font-weight: bold;
}

.unit_trump {
    display: inline-block;
    vertical-align: top;
    height: 130px;
    overflow-y: scroll;
    width: 110px;
    border: 1px solid black;
    padding: 4px;
    margin: 2px;
    border-radius: 4px;
    font-size: .7em;
}

.unit_trump hr {
    margin-top: -2px;
    margin-bottom: 0px;
}